body{
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol {
    list-style-type: upper-roman;
}
ul {
    list-style-type: square;
    list-style-position: outside;
    color: blue;
    line-height: 1.6;
    /* list-style:   url('https: //ramu2710-portfolio.netlify.app/RAMU.png') inside; */
}
ul li {
    color: rebeccapurple;
} 

ul li:nth-child(even) {
    color: aquamarine;
}

ul ::marker {
    color: red;
    content: "only >>";
} 