*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box : it will split the width to the elements 
    which is return on the element 
    if i take width 400 , then for content it takes max
    and the rest we need to subract like
    width = 400px padding = 20 px , so backward 20 , front 20 
    border it takes 1.6 400-40-3.2 = 356 for content 
    like that it splits the content*/
    
}


/* h1{
    border: 2px dotted red;
    padding: 20px;
    width: 400px;
} */

.container {
    /* border:  2px dotted red; */
    /* font-size: 1.5rem; */
    margin: 1.5rem;
    /* margin: top right bottom left ; */
    padding: 2rem;
    /* padding: top right bottom left; */
    border-top: 2px dotted violet;
    border-left: 2px solid red;
    border-bottom: 2px dashed blue;
    border-right: 4px outset pink;
    outline: 5px solid purple;
    outline-offset: 5px ;
}

.circle {
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    outline: 2px solid red;
    outline-offset: -0.35rem;
    margin: 3rem auto;
    border-radius: 50px;
}

.card {
    background-color: bisque;
    width: 500px;
    height: 250px;
    margin: 3rem;
     


}